# =========================
# Python bytecode
# =========================
__pycache__/
*.pyc
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# =========================
# Distribution / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# =========================
# Type checkers
# =========================
.mypy_cache/
.pyre/
.pytype/

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment variables
# =========================
.env
.env.*
*.env
google-drive-service-account.json


# =========================
# Temporary files
# =========================
*.tmp
*.bak
*.orig

# =========================
# rent files
# =========================
data/rent_files_parquet/list_rent_files_collected.json
data/realtokens_data.json
data/realtokens_history.json
data/rent_files_parquet/parquet_by_year/*
!data/rent_files_parquet/parquet_by_year/.gitkeep
data/rent_files_csv/errors/*
!data/rent_files_csv/errors/.gitkeep
data/rent_files_csv/*.csv


# =========================
# cache
# =========================
data/cache/*
!data/cache/.gitkeep


# =========================
# Logs
# =========================
logs/*
!logs/.gitkeep
*.log
*.log.*


# =========================
# testing
# =========================
testing_history.json
